@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Đảm bảo đường dẫn này là chính xác
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>